<template>
  <div id="app-container">
    <div class="container">
      <main-title
          v-bind:title="currentStepObject().title"
      ></main-title>
      <component
          v-bind:is="currentStepComponentName()"
          v-on:changeStep="setStep"
      ></component>
      <breadcrumb
          v-bind:steps="steps"
          v-bind:currentStepIndex="currentStepIndex()"
      ></breadcrumb>
    </div>
    </div>
</template>

<script>
import Vue from "vue";
import Breadcrumb from "./Breadcrumb";
import MainTitle from "./MainTitle";
import Step1 from "./Step/Step1";
import Step2 from "./Step/Step2";
import Step2a from "./Step/Step2a";
import Step3 from "./Step/Step3";
import Step3a from "./Step/Step3a";

export default Vue.extend({
  components: { MainTitle, Breadcrumb, Step1, Step2, Step2a, Step3, Step3a },
  data() {
    return {
      currentStep: '1',
      steps: [
        {
          'key': '1',
          'title': "Calcula tu huella de carbono"
        },
        {
          'key': '2',
          'title': "Consumo eléctrico"
        },
        {
          'key': '2a',
          'title': "Superficie"
        },
        {
          'key': '3',
          'title': "Consumo de carburante"
        },
        {
          'key': '3a',
          'title': "Vehículos"
        },
      ]
    };
  },
  methods: {
    currentStepComponentName: function () {
      return 'step' + this.currentStepObject().key
    },
    currentStepObject: function () {
      for (let n = 0; n < this.steps.length; n++) {
        if (this.steps[n].key == this.currentStep) {
          return this.steps[n]
        }
      }

      return this.steps[0]
    },
    currentStepIndex: function () {
      for (let n = 0; n < this.steps.length; n++) {
        if (this.steps[n].key === this.currentStep) {
          return n
        }
      }
    },
    setStep: function (value) {
      this.currentStep = value
    }
  },
});
</script>
