<template>
  <div
      class="d-flex breadcrumb-container justify-content-around py-5"
      ref="container"
  >
    <div
        class="breadcrumb-dot"
        v-for="index in steps"
    ></div>
  </div>
</template>

<script>
import Vue from "vue";
export default Vue.extend({
  mounted () {
    const breadDots = this.$refs.container.childNodes;

    for (let i = 0; i <= this.currentStepIndex; i++) {
      breadDots[i].classList.add('done-dot')
    }
  },
  props: [ 'steps', 'currentStepIndex' ]
});
</script>
