// colors:
$text-color: #5a5a5a
$title-color: #599c8a
$bg-color: #ececea
$shadow-color: lighten($text-color, 40)

// fonts
$font: "Comfortaa", Sans-serif

#app-container
  font-family: $font
  background: $bg-color
  color: $text-color
  font-size: 15px

  a:hover
    text-decoration: none

  h1, h2, h3, h4, h5, h6
    color: $title-color
    line-height: 1.2em

  h1
    font-size: 51px
  .card-container
    height: 80%
    position: relative
    .card
      text-align: center
      width: 450px
      min-height: 350px
      padding: 50px 20px 20px
      border: none
      border-radius: 0
      overflow: hidden
      transition: all linear .1s
      box-shadow: $shadow-color 0 1px
      &.clickable:hover
        margin-top: -5px
        box-shadow: $shadow-color 0 3px 3px
        cursor: pointer
      .img-container
        opacity: .1
        text-align: right
        width: 100%
        bottom: 0
      h3.card-title
        font-size: 3em
      h4.card-title
        font-size: 2.5em
      .card-text
        font-size: 1.7em
        color: $title-color
      &.house-meters .meters-checkboxes
        width: 180px
    a.add-option
      color: $title-color
      &:hover
        text-decoration: underline!important
  .breadcrumb-container
    height: 20%
    padding: 0 35%
    .breadcrumb-dot
      border: solid 5px $shadow-color
      height: 20px
      width: 20px
      border-radius: 50px
      &.done-dot
        background: $title-color
        border: none

  .btn-primary
    background: $title-color
    border: none
    box-shadow: $shadow-color 0 1px
    &:hover
      box-shadow: $shadow-color 0 1px 2px
      background-color: lighten($title-color, 10)

  .euro
    line-height: 32px
    display: block
