// colors:
$text-color: #5a5a5a
$title-color: #599c8a
$bg-color: #ececea
$shadow-color: lighten($text-color, 40)

// fonts
$font: "Comfortaa", Sans-serif

body
  font-family: $font
  font-size: 1rem
  font-weight: 400
  line-height: 1.5
  color: #333
  a
    color: $title-color
    &:hover
      color: $title-color
  nav.navbar
    font-size: 22px
    font-weight: 600
    .navbar-nav
      a.nav-link
        padding: 20px
    a.navbar-brand
      padding: 0 30px 0
    img
      width: 138px
      height: 85px

  .footer
    min-height: 1053px
    background-image: url('../img/005-scaled.jpg')
    .footer-big-text
      color: #fff
      font-size: 61px
      font-family: "Roboto", Sans-serif
      line-height: 1
    .footer-small-text
      color: #fff
      font-size: 15px
