<template>
  <div class="d-flex justify-content-between card-container align-items-center">
    <div class="card house-meters">
      <div class="card-body">
        <p class="card-text">Metros cuadrados de vivienda</p>
        <form class="form">
          <div class="form-group text-left meters-checkboxes mx-auto mb-4">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="meters" id="less-100m" value="0" checked>
              <label class="form-check-label" for="less-100m">
                &lt; 100 m<sup>2</sup>
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="meters" id="100m-200m" value="1">
              <label class="form-check-label" for="100m-200m">
                entre 100 y 200 m<sup>2</sup>
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="meters" id="more-200m" value="2">
              <label class="form-check-label" for="more-200m">
                &gt; 200 m<sup>2</sup>
              </label>
            </div>
          </div>
          <div class="form-group">
            <button
                type="submit"
                class="btn btn-primary"
                v-on:click="$emit('changeStep', 3)"
            >Siguiente</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>
