<template>
  <div class="d-flex justify-content-between card-container align-items-center">
    <div
        class="card person clickable"
        v-on:click="$emit('changeStep', 2)"
    >
      <div class="card-body">
        <h3 class="card-title">Soy particular</h3>
      </div>
      <div class="img-container">
        <img src="/img/house.svg">
      </div>
    </div>
    <div
        class="card factory clickable"
        v-on:click="$emit('changeStep', 2)"
    >
      <div class="card-body">
        <h3 class="card-title">Soy empresa</h3>
      </div>
      <div class="img-container">
        <img src="/img/factory.svg">
      </div>
    </div>
  </div>
</template>
