<template>
  <div class="d-flex justify-content-between card-container align-items-center">
    <div class="card house-meters">
      <div class="card-body">
        <p class="card-text">Coches y/o motos</p>
        <form class="form text">
          <template v-for="(child, index) in vehicles">
            <component
                :is="child"
                :key="index"
                v-bind:index="index"
                v-on:removeVehicle="removeVehicle"
            ></component>
          </template>
          <div class="mb-3">
            <a
                v-on:click="addVehicle"
                class="add-option"
            >Añadir vehículo</a>
          </div>
          <div class="form-group">
            <button
                type="submit"
                class="btn btn-primary"
                v-on:click="$emit('changeStep', 4)"
            >Siguiente</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import VehicleForm from "./VehicleForm";

export default {
  components: { VehicleForm },
  data() {
    return {
      vehicles: [
          VehicleForm
      ]
    }
  },
  methods: {
    addVehicle () {
      this.vehicles.push(VehicleForm);
    },
    removeVehicle (index) {
      this.vehicles.splice(index, 1)
    }
  }
}
</script>

<style scoped>
a {
  cursor: pointer
}
</style>
