<template>
  <div class="d-flex justify-content-between card-container align-items-center">
    <div class="card">
      <div class="card-body">
        <p class="card-text">Tengo facturas (total 2019)</p>
        <form class="form row">
          <div class="col-11 my-4">
            <input type="text" class="form-control" placeholder="Gasolina" id="gasolina-total">
          </div>
          <div class="col-1 my-4">
            <span class="euro">€</span>
          </div>
          <div class="col-11 my-4">
            <input type="text" class="form-control" placeholder="Gasoil" id="gasoil-total">
          </div>
          <div class="col-1 my-4">
            <span class="euro">€</span>
          </div>
          <div class="col-11 my-4">
            <input type="text" class="form-control" placeholder="Metano" id="metano-total">
          </div>
          <div class="col-1 my-4">
            <span class="euro">€</span>
          </div>
          <div class="col-11 my-4">
            <input type="text" class="form-control" placeholder="GPL" id="gpl-total">
          </div>
          <div class="col-1 my-4">
            <span class="euro">€</span>
          </div>
          <div class="col-11 my-4">
            <input type="text" class="form-control" placeholder="Otros" id="otros-total">
          </div>
          <div class="col-1 my-4">
            <span class="euro">€</span>
          </div>
          <div class="form-group">
            <button
                type="submit"
                class="btn btn-primary"
                v-on:click="$emit('changeStep', 4)"
            >Siguiente</button>
          </div>
        </form>
      </div>
    </div>
    <div
        class="card clickable"
        v-on:click="$emit('changeStep', '3a')"
    >
      <div class="card-body">
        <h4 class="card-title mt-5">No tengo facturas</h4>
      </div>
    </div>
  </div>
</template>
