<template>
  <div class="mb-5">
    <p class="text-start">
      Vehículo {{ index + 1 }}
      <a
          v-on:click="$emit('removeVehicle', index)"
      >Eliminar</a>
    </p>
    <div class="row mb-3">
      <div class="col-5 text-end">
        <label for="vehicle-type">Tipo de vehículo</label>
      </div>
      <div class="col-7 text-start">
        <select class="custom-select" id="vehicle-type">
          <option selected>Tipo de vehículo</option>
          <option value="1">Coche o similar</option>
          <option value="2">Moto o similar</option>
        </select>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-5 text-end">
        <label for="motor-type" class="sr-only">Tipo de motor</label>
      </div>
      <div class="col-7 text-start">
        <select class="custom-select" id="motor-type">
          <option selected>Tipo de motor</option>
          <option value="1">Gasóleo</option>
          <option value="2">Híbrido</option>
          <option value="3">Eléctrico</option>
          <option value="4">Gasolina</option>
          <option value="5">GPL</option>
          <option value="6">Metano</option>
          <option value="7">Otro</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-5 text-end">
        <label for="km" class="sr-only">Km en 2019</label>
      </div>
      <div class="col-7 text-start">
        <input type="text" class="form-control" placeholder="Km en 2019" id="km" name="km">
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "VehicleForm",
  props: [ 'index' ]
}
</script>

<style scoped>
a {
  cursor: pointer;
  float: right;
  color: #ee9999!important;
}
</style>
